XML/EjercicioCancion_Noah/schemaCancion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:simpleType name="minutos">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]:[0-5][0-9]"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="string50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:group name="equipoMusical">
		<xs:sequence>
			<xs:element name="nombres" type="xs:string"/>
			<xs:element name="apellidos" type="xs:string"/>
		</xs:sequence>
	</xs:group>

	<xs:element name="cancion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="titulo" type="xs:string"/>
				<xs:element name="compositores">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="compositor" maxOccurs="2">
								<xs:complexType>
									<xs:sequence>
										<xs:group ref="equipoMusical"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="productores">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="productor" maxOccurs="2">
								<xs:complexType>
									<xs:sequence>
										<xs:group ref="equipoMusical"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="sello" type="string50"/>
				<xs:element name="artista" type="string50"/>
			</xs:sequence>
			<xs:attribute name="duracion" type="minutos" use="required"/>
			<xs:attribute name="anio" type="xs:gYear" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>