XML/ejercicioXMLSchema_Noah/ej9/schemaEjercicio9Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="TipoDireccion">
		<xs:sequence>

			<xs:element name="calle">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="nombreCalle">
							<xs:attribute name="tipo" type="xs:string" use="optional"/>
						</xs:extension>
						
					</xs:simpleContent>
				</xs:complexType>
				
			</xs:element>

			<xs:element name="numero">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="ciudad">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="texto50char">
							<xs:attribute name="codPostal" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>

			</xs:element>

			<xs:element name="provincia" type="texto50char"/>
			
			<xs:element name="verificado">
				<xs:complexType/>
			</xs:element>

		</xs:sequence>
	</xs:complexType>	

	<xs:simpleType name="nombreCalle">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="texto50char">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="formatoTelefonico">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="formatoDni">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{8}[A-Z]"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="alumnos">
		<xs:complexType>
			<xs:sequence>

				<xs:element name="alumno" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>

							<xs:element name="nombre" type="xs:string"/>

							<xs:element name="direccion" type="TipoDireccion"/>

							<xs:choice>
								<xs:element name="telefono" minOccurs="1" maxOccurs="1" type="formatoTelefonico"/>
								<xs:element name="movil" minOccurs="1" maxOccurs="3" type="formatoTelefonico"/>
							</xs:choice>

							<xs:element name="email" type="xs:string"/>
							
							<xs:element name="minusvalia" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="grado"/>
								</xs:complexType>
							</xs:element>

						</xs:sequence>

						<xs:attribute name="dni" type="xs:string" use="required"/>
						<xs:attribute name="repetidor" type="xs:boolean" default="false"/>
						<xs:attribute name="fechaNacimiento" type="xs:date" use="required"/>

					</xs:complexType>
				</xs:element>

			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>