XML/ejercicioXMLSchema_Noah/ej13/schemaEjercicio13Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="ejercicio13">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="temperatura">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:integer">
								<xs:attribute name="escala" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="Celsius"/>
											<xs:enumeration value="Farenheit"/>
											<xs:enumeration value="Kelvin"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>	
							</xs:extension>	
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>		
		</xs:complexType>
	</xs:element>

</xs:schema>